#body{
    background-color: ivory;
}

footer {
	background-color: rgba(0, 0, 0, 0.7);
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

footer p{
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px; 
}

h2{
  text-align:center;
  padding: 30px;
  font-family: 'Exo', sans-serif;
}

h3{
	padding: 10px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.my_name{
	font-family: 'Exo', sans-serif;
	font-size: 70px;
	font-weight: 700;
	color: white;
}

.navbar-nav a {
	font-family: 'Exo', sans-serif;
	font-weight: bold;
}

.btn {
	font-family: 'Exo', sans-serif;
}

.parallax {
	/* The image used */
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.4),
		rgba(0, 0, 0, 0)
		),url('../image/background.jpg');

	/* Set a specific height */
	min-height: 500px; 

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.description{
	background: rgba(0, 0, 0, 0.3);
	color: white;
	font-family: 'Ubuntu', sans-serif;
	padding: 20px;
	margin: 20px;
	margin: auto;
}

.project1 {
    font-size: 25px;
    /* The image used */
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0)
        ),url('../image/projects/stock6.png');

     Set a specific height 
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.project2 {
    font-size: 25px;
    /* The image used */
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0)
        ),url('../image/projects/movie7.jpeg');

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project3 {
    font-size: 25px;
    /* The image used */
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0)
        ),url('../image/projects/freecell6.jpg');

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container #eduCaption, .container #skillsCaption, .container #projectsCaption{
    font-family: 'Exo', sans-serif;
    font-weight: bold;
}

.list_skills, .card {
    font-family: 'Exo', sans-serif;
}

.project1, .project2, .project3 {
    font-family: 'Exo', sans-serif;
}

.school-logo {
    max-width: 30%;
    float: left;
}

.hvr-curl-top-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-curl-top-right:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  right: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(225deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
.hvr-curl-top-right:hover:before, .hvr-curl-top-right:focus:before, .hvr-curl-top-right:active:before {
  width: 25px;
  height: 25px;
}

/***  desired colors for svg  ***/
.footer-icons svg{
	max-height: 64px;
	width: auto;
	display: inline;
}
.footer-icons svg path{
	fill: floralwhite;
}
.footer-fixed{
	height: 50px;
	background-color: teal;
}
.projects {
    font-size: 25px;
}

#general{
	font-size: 25px;
}
#profile {
	height: 200px;
}




/*slider. Inspired by: https://codepen.io/mdashikar/pen/VWPvgE */
/***************************************************************/

/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 70%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/***************************************************************/
